In [281]:
import os
import pandas as pd
import numpy as np
import re

In [180]:
alldata = pd.read_excel("AllData.xlsx")

In [20]:
#alldata.head()

### Cleaning column by column

#### Column1 - Emotion

In [19]:
cleaned_column = alldata.iloc[:,1].str.upper().str.strip().str.replace('PP','P').str.replace('M','N')
cleaned_column.value_counts()

P          16920
N          13055
O              8
L              7
H              2
什么图案都没有        1
F              1
A              1
照片无法识别         1
图片无法读取         1
什么图都没有         1
B              1
C              1
无图案            1
Name: 情感\nP=正面\nM=负面, dtype: int64

In [72]:
#Getting just P and N values
cleaned_column[~cleaned_column.isin(['P','N'])] = None
print(cleaned_column.value_counts())
alldata.iloc[:,1] = cleaned_column

P    16920
N    13055
Name: 情感\nP=正面\nM=负面, dtype: int64

In [73]:
alldata.iloc[:,1].value_counts()

P    16920
N    13055
Name: 情感\nP=正面\nM=负面, dtype: int64

#### Column2 - Emotional strength

In [101]:
c2_clean = alldata.iloc[:,2].str.strip().str.upper().replace('LL','L').replace('MM','M')
c2_clean[~c2_clean.isin(['L','M','H'])] = None
alldata.iloc[:,2] = c2_clean

#### Column3 - Concrete And Abstract

In [102]:
c3_clean = alldata.iloc[:,3].str.strip().str.upper().replace('AA','A').replace(['M9','M1','MM'],'M').replace('CA','C')
c3_clean[~c3_clean.isin(['C','A','M'])] = None
alldata.iloc[:,3] = c3_clean

#### Columns 4-7,9,10 - Color/Texture

In [311]:
def clean_numeric_cols(alldata_column):
    c3_clean = alldata_column.astype('str').str.strip()
    c3_list = []
    
    for each in c3_clean:

        #Replacing unwanted characters with what is required
        each_string = each.replace('，',',').replace('O','0').replace('.',',')
        each_string = re.sub('，|。',',',each_string)
        each_string = re.sub('[A-Z]','',each_string)

        set_values = list(set(each_string.split(',')))

        #Number set to 20 so that we consider all the numbers between 1-20
        set_values = [each for each in set_values if each in list(map(str, range(25 + 1)))]

        c3_list.append(','.join(set_values))
        
    return pd.DataFrame(c3_list).iloc[:,0]

In [312]:
alldata.iloc[:,[4,5,6,7,9,10]] = alldata.iloc[:,[4,5,6,7,9,10]].apply(clean_numeric_cols)

#### Column 8

In [310]:
alldata.iloc[:,10].value_counts()

1         8350
          5901
5         4222
2         3875
4         3051
3         1955
6          956
10         512
9          373
7          326
11         166
8          148
18          41
14          30
16          14
12          10
13           8
3,1          8
2,3          7
2,1          5
4,1          4
9,8          2
3,9          2
3,6          2
15           2
19           2
9,11         2
3,4          2
2,9          1
15,9,8       1
4,9,10       1
5,3,1        1
3,9,10       1
7,4          1
18,2         1
18,11        1
7,6          1
3,10         1
9,10         1
3,14         1
10,1         1
12,14        1
1,13         1
1,7,10       1
2,10         1
2,6          1
7,1          1
3,11         1
11,1         1
1,10         1
6,1          1
1,11         1
2,4          1
14,4         1
18,3         1
Name: 图案主体的整体几何形状, dtype: int64